<link rel="stylesheet" href="/css/addSetLink.css" />
<a href="/newset">
  <div class="fake-card">
    <h2>Add a Card +</h2>
    <ul>
      <li>dice 1</li>
      <li>dice 2</li>
      <li>dice 3</li>
    </ul>
  </div>
</a>